@using Microsoft.AspNetCore.Components.Web
@inject WebServerModuleManager ModuleManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Navigation.css" />
    <link rel="stylesheet" href="ModulynServer.styles.css" />

    @if (!string.IsNullOrWhiteSpace(WebServerSettings.Instance.SiteImage))
    {
        <link rel="icon" type="image/png" href="@WebServerSettings.Instance.SiteImage" />
    }
    else
    {
        <link rel="icon" type="image/png" href="ModulynBlazor.jpg" />
    }

    @foreach(IWebServerModule module in ModuleManager.GetModuleList())
    {
        <link rel="stylesheet" href="@(module.ModuleId + ".styles.css")" />
    }

    <RadzenTheme Theme="material" @rendermode="InteractiveServer" />
    <HeadOutlet @rendermode="RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="RenderMode.InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
</body>

</html>
